.metadata {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-family: Arial;
  color: white;
  background-color: #fb6949;
  margin-left: 220px;
  margin-top: -280px;
  height: 12vh;
  width: 82vw;
  align-items: center;
  text-align: center;
  padding: 8px 0px 0px 0px;
}

.emailBody {
  display: flex;
  font-size: 25px;
  font-family: Arial;
  color: black;
  margin-left: 220px;
  border: 5px solid #fb6949;
  height: 20vh;
  width: 80vw;
  margin-top: 20px;
  padding: 10px;
  align-items: center;
  text-align: center;
}
